/*
  css reset rule
*/

/*
  css variables
*/
:root {
  --color-background: #0b253c;
  --color-black: #413a37;
  --color-white: #ffffff;
  --color-bg-button: #f5f5f2;
  --color-text1: #839fae;
  --color-primary: #5252b2;
  --color-secondary: #f037a5;
  --color-secondary-light: #c55a9a;
  --color-danger: #ff2442;
  --color-gray: #c8c6c6;
  --color-completed: #3db2ff;
  --color-postpone: #22577a;
  --color-all: #ffb830;
  --color-info: #3db2ff;
  --color-danger: #ff6b6b;
  --color-warning: #ffd371;
}

html {
  font-size: 10px;
  font-family: "Merienda", cursive;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: var(--color-background);
}

/*
  Main container
*/
.main-container {
  width: 120rem;
  max-width: 120rem;
  height: 80rem;
  min-height: 80rem;
  background-color: var(--color-white);
  margin: 5rem auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas:
    "header header header header header header header header header header header header"
    "Side   Side   Side   Side   Nav    Nav    Nav    Nav    Nav    Nav    Nav    Nav"
    "Side   Side   Side   Side   Main   Main   Main   Main   Main   Main   Main   Main"
    "Side   Side   Side   Side   Main   Main   Main   Main   Main   Main   Main   Main"
    "Side   Side   Side   Side   Main   Main   Main   Main   Main   Main   Main   Main"
    "Side   Side   Side   Side   Main   Main   Main   Main   Main   Main   Main   Main"
    "Side   Side   Side   Side   Main   Main   Main   Main   Main   Main   Main   Main"
    "Side   Side   Side   Side   Main   Main   Main   Main   Main   Main   Main   Main"
    "Side   Side   Side   Side   Main   Main   Main   Main   Main   Main   Main   Main"
    "Side   Side   Side   Side   Main   Main   Main   Main   Main   Main   Main   Main"
    "Side   Side   Side   Side   Main   Main   Main   Main   Main   Main   Main   Main"
    "Side   Side   Side   Side   Main   Main   Main   Main   Main   Main   Main   Main";
}

/*
  Header
*/

.main-container .header {
  grid-area: header;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-container .header .logo {
  width: 6rem;
}

.main-container .header .menu-icon {
  font-size: 4rem;
  cursor: pointer;
  display: none;
  opacity: 0;
}

/*
  TAB
*/

.main-container .tab-container {
  background-color: var(--color-bg-button);
  grid-area: Nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-container .tab-container .tab-item-container {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.main-container .tab-container .tab-item-container:not(:last-child) {
  border-right: 2px solid var(--color-black);
}

.main-container .tab-container .tab-item-container .icon {
  font-size: 2.5rem;
  color: var(--color-black);
}

.main-container .tab-container .tab-item-container .tab-text {
  font-size: 1.5rem;
  color: var(--color-black);
  font-weight: bold;
}

/*
 Utility
*/
.hide {
  display: none;
  opacity: 0;
}

.active-tab {
  border-bottom: 2px solid var(--color-black);
}

/*
  Media Queries
*/
@media only screen and (max-width: 1199px) {
  .main-container {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    box-shadow: none;
  }
}

@media only screen and (max-width: 1024px) {
  .main-container .header .menu-icon {
    display: block;
    opacity: 1;
  }
}
